$breakpoint-s: 768px;
$breakpoint-md: 1024px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1900px;

@mixin breakpoint($point) {
    @if $point == small {
        @media (min-width: $breakpoint-s) { @content; }
    }
    @elseif $point == medium {
        @media (min-width: $breakpoint-md) { @content; }
    }
    @elseif $point == large {
        @media (min-width: $breakpoint-l) { @content; }
    }
    @elseif $point == xlarge {
        @media (min-width: $breakpoint-xl) { @content; }
    }
}